@model IEnumerable<SoftwareDevelopment2.Models.Subscription>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemsPerYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemsAtSameTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanPeriodInDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtendsInARow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinePerItemPerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPerMonth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemsPerYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemsAtSameTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanPeriodInDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtendsInARow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinePerItemPerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerMonth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
