@model SoftwareDevelopment2.Models.Subscription

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemsPerYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemsPerYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemsAtSameTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemsAtSameTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanPeriodInDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanPeriodInDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtendsInARow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtendsInARow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinePerItemPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinePerItemPerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubscriptionCostPerMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionCostPerMonth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
